@using SchwabenCode.Samples.ASPMVC5_Google2WayAuthentication.Routing
@using SchwabenCode.Web.Mvc.Routing

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET MVC 5 - Two-Factor-Auth-Sample by SchwabenCode</title>
    @Styles.Render( "~/Content/css" )
    @Scripts.Render( "~/bundles/modernizr" )

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@RouteCache.Get(Url, RouteNames.Home)" class="navbar-brand">Sample Application by SchwabenCode.com</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@RouteCache.Get(Url, RouteNames.Home)">Home</a></li>
                    <li><a href="@RouteCache.Get(Url, RouteNames.AccountArea.Account_Login)">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody( )
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="http://www.schwabencode.com" target="_blank">ASP.NET MVC 5 - Two-Factor-Auth-Sample by SchwabenCode</a> - This Sample is available on <a href="https://github.com/BenjaminAbt/ASPMVC5_Google2WayAuthentication" target="_blank">GitHub</a></p>
        </footer>
    </div>

    @Scripts.Render( "~/bundles/jquery" )
    @Scripts.Render( "~/bundles/bootstrap" )
    @RenderSection( "scripts", required: false )
</body>
</html>
